<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.datingapp">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_partnerfinder"
        android:label="PartnerFinder"
        android:roundIcon="@drawable/couple"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".AboutUs"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".FriendListsActivity" />
        <activity
            android:name=".OthersProfileActivity"
            android:parentActivityName=".listusers" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".listusers"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".FriendRequestActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".FriendListsActivity"
            android:parentActivityName=".HomeActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7839793942942631~5534176360" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

</manifest>